@using Slonik.ViveModel
@model AddDetalChertViewModel
@{
    ViewBag.Title = "AddDetals";
}

<style>
    a {
        font-family: Arial;
        text-decoration: none;
        color: white;
        padding: 10px;
    }

        a:hover {
            background: #5d1aed;
            border-radius: 20px;
        }

    main {
        padding-top: 50px;
        text-align: center;
        background-color: white;
        color: black;
        margin: auto;
        width: 80%;
        min-width: 70%;
        max-width: 100%;
        box-shadow: 0px 0px 5px 5px black;
        opacity: 90%;
        height: 100%;
        min-height: 593px;
        flex: 1 0 auto;
    }

    body {
        margin: 0;
        font-family: arial;
        background: url(../../Content/Images/Stanok.jpg) no-repeat;
        background-attachment: fixed;
        background-size: 100%;
        display: grid;
        grid-template-rows: 1fr auto;
    }

    header {
        background-color: #000;
        width: 98%;
        height: 4.8%;
        max-height: 46px;
        padding: 1%;
        margin: 0px;
    }

    footer {
        background-color: black;
        width: 100%;
        height: 8%;
        max-height: 50px;
        margin-top: 0;
        color: white;
        text-align: center;
        padding-top: 0.1%;
        font-size: 18px;
        flex-shrink: 0;
    }

    a {
        font-family: Arial;
        text-decoration: none;
        color: white;
        padding: 10px;
    }

        a:hover {
            background: #5d1aed;
            border-radius: 20px;
        }
</style>

<body>
    <header style="align-content:center; text-align:center;">
        <div style="padding:0px; text-align:center; margin-left:5%">
            <img src="~/Content/Images/SlonikLogo.jpg" style="width: 4%; margin: 0px; float: left; border-radius: 50px; margin-top: -0.5%">
            <p style="color: white; float: left; font-family: arial; font-size: 30px;margin: 0; margin-left: 0.5%; ">Slonik Pay</p>
        </div>

        <div style="display:inline-block; padding:0; margin-left:-15%">
            <a href="~/home/index" style="float:left;">Главная</a>
            <a href="~/home/AddDetals" style="float:left;">Добавить деталь</a>
            <a href="~/home/showall" style="float:left;">Все детали</a>
            <a href="~/home/lastorder" style="float:left;">Последний заказ</a>
            <a href="~/home/indexstart" style="float:left">Выход</a>
        </div>
    </header>

    <main>
        <div>
            @using (Html.BeginForm("Add", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div style="float:left;">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()

                    <span style="color:red; margin:5%">Поля, помеченные *, обязательны к заполнению</span>

                    <div style="        background-color: #ccc8c8;
        border: solid;
        border-color: black;
        padding: 3%;
        margin: 2%;
        border-radius: 25px;
        box-shadow: 0px 0px 5px 1px black;">
                        <h3>Оборудование</h3>
                        @Html.DropDownListFor(model => model.detalPik.CoeficId, ViewBag.list as SelectList)
                        <div class="form-group">

                        </div>

                        <h4>Номер заказа<span style="color:red">*</span></h4>
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.detalPik.NumOrder, new { @class = "form-control", @type = "number", @placeholder = "000000", @pattern = "[0-9_-]{10}", @title = "Разрешены только цифры" })
                        </div>
                        <h4>Название<span style="color:red">*</span></h4>
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.detalPik.Nazvanie, new { @class = "form-control", @type = "text", @pattern = "[A-Za-zА-Яа-яЁё-0-9]{2,64}", @title = "Разрешены только буквы кириллицы" })
                        </div>

                        <h4>Тип обработки<span style="color:red">*</span></h4>
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.detalPik.TypeObr, new { @class = "form-control", @type = "text", @pattern = "[а-яА-ЯёЁ]{2,64}", @title = "Разрешены только буквы кириллицы" })
                        </div>

                        <h4>Максимальный диаметр детали (мм)<span style="color:red">*</span></h4>
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.detalPik.D, new { @class = "form-control", @type = "number", @pattern = "[0-9]{1,12}", @title = "Разрешены только цифры" })
                        </div>

                        <h4>Максимальная длина детали (мм)<span style="color:red">*</span></h4>
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.detalPik.LDetal, new { @class = "form-control", @type = "number", @pattern = "[0-9]{1,12}", @title = "Разрешены только цифры" })
                        </div>

                        <h4>Вес детали (кг)<span style="color:red">*</span></h4>
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.detalPik.WeithDetail, new { @class = "form-control", @type = "number", @pattern = "[0-9]{1,12}", @title = "Разрешены только цифры" })
                        </div>

                        <h4>Материал<span style="color:red">*</span></h4>
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.detalPik.Materia, new { @class = "form-control", @type = "text", @pattern = "[а-яА-ЯёЁ]{2,64}", @title = "Разрешены только буквы кириллицы" })
                        </div>

                        <h4>Твёрдость<span style="color:red">*</span></h4>
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.detalPik.Hurd, new { @class = "form-control", @type = "number", @pattern = "[0-9]{1,12}", @title = "Разрешены только цифры" })
                        </div>

                        <div class="MyClass">
                            <h3>Чертёж<span style="color:red">*</span></h3>
                            <input type="file" name="File" id="file" required title="Загрузите чертёж" />
                        </div>

                    </div>
                </div>

                <div style="display:inline-block; float:none;">
                    <h3 style="float:left;"> Обрабатываемая поверхность<span style="color:red">*</span></h3>
                    <input type="button" value="&#10010;" id="Cl" style="margin-top:16px; margin-left:5px;" />
                </div>


                <div class="MyClass">
                    <div id="divClon">
                        <div id="divAdd" style="        float: left;

        border: solid;
        border-color: black;
        margin: 2%;
        border-radius: 25px;
        box-shadow: 0px 0px 5px 1px black; margin:0.5%; padding:1%
">
                            <h4>длина поверхности (мм)</h4>
                            <input type="text" name="IntList_L" pattern="[0-9]{1,12}" required title="Разрешены только цифры" />
                            <h4>припуск на обработку (мм)</h4>
                            <input type="text" name="IntList_T" pattern="[0-9]{1,12}" required title="Разрешены только цифры" />
                            <h4>Диаметр (мм)</h4>
                            <input type="text" name="IntList_D" pattern="[0-9]{1,12}" required title="Разрешены только цифры" />
                            <h4>Точность</h4>
                            <input type="text" name="IntList_TocHnost" pattern="[0-9]{1,12}" required title="Разрешены только цифры" />
                        </div>
                    </div>
                </div>

                <script src="~/Scripts/Clon.js"></script>

                <div class="form-group" style="margin:0">
                    <div class="col-md-offset-1 col-md-7">
                        <input type="submit" class="btn btn-default" value="Добавить деталь" style="        position: sticky;
        left: 80%;
        margin-top: 1%;
        border-radius: 10px;
        background-color: #5d1aed;
        color: white;
        opacity: 100%;
        padding: 1% 1% 1% 1%" />
                    </div>
                </div>

            }
        </div>
    </main>


    <footer>
        <p>&copy; @DateTime.Now.Year <a href="~/home/team">Mikrasavchiki team</a></p>
    </footer>
</body>