@using Slonik.Models
@using Slonik.Helpers
@model IndexViewModel

@{
    ViewBag.Title = "ShowAll";
}

<style>
    a {
        font-family: Arial;
        text-decoration: none;
        color: white;
        padding: 10px;
    }

        a:hover {
            background: #5d1aed;
            border-radius: 20px;
        }

    main {
        padding-top: 50px;
        background-color: white;
        color: black;
        margin: auto;
        width: 80%;
        min-width: 70%;
        max-width: 100%;
        box-shadow: 0px 0px 5px 5px black;
        opacity: 90%;
        height: 100%;
        min-height: 605px;
        flex: 1 0 auto;
    }

    main a{
        color:black
    }

    body {
        margin: 0;
        font-family: arial;
        background: url(../../Content/Images/Stanok.jpg) no-repeat;
        background-attachment: fixed;
        background-size: 100%;
        display: grid;
        grid-template-rows: 1fr auto;
    }

    header {
        background-color: #000;
        width: 98%;
        height: 15%;
        max-height: 46px;
        padding: 1%;
        margin: 0px;
    }

    footer {
        background-color: black;
        width: 100%;
        height: 17%;
        max-height: 50px;
        margin-top: 0;
        color: white;
        text-align: center;
        padding-top: 0.1%;
        font-size: 18px;
        flex-shrink: 0;
    }

    a {
        font-family: Arial;
        text-decoration: none;
        color: white;
        padding: 10px;
    }

        a:hover {
            background: #5d1aed;
            border-radius: 20px;
            color: white;
        }

    .whitetext {
        color: white;
        text-decoration: none;
    }

    .blacktext {
        color: black;
        text-decoration: none;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<body>
    <header style="align-content:center; text-align:center;">
        <div style="padding:0px; text-align:center; margin-left:5%">
            <img src="~/Content/Images/SlonikLogo.jpg" style="width: 4%; margin: 0px; float: left; border-radius: 50px; margin-top: -0.5%">
            <p style="color: white; float: left; font-family: arial; font-size: 30px;margin: 0; margin-left: 0.5%; ">Slonik Pay</p>
        </div>

        <div style="display:inline-block; padding:0; margin-left:-15%; margin-top:0.7%">
            <a href="~/admin/index">Главная</a>
            <a href="~/admin/AddDetail">Добавить деталь</a>
            <a href="~/admin/showall">Все детали</a>
            <a href="~/admin/lastorder">Последний заказ</a>
            <a href="~/admin/ShowAllArhiv">Архив</a>
            <a href="~/admin/ShowObor">Станки</a>
            <a href="~/home/indexstart">Выход</a>
        </div>
    </header>

    <main>
        <table class="table table-bordered" border="1" style="width:100%; table-layout:fixed; text-align:center">
            <tr>
                <td>Номер заказа</td>
                <td>Название</td>
                <td>Чертёж</td>
                <td>Диаметр (мм)</td>
                <td>Средний диаметр обработки (мм)</td>
                <td>Вес Детали (кг)</td>
                <td>Материал</td>
                <td>Тип обработки </td>
                <td>Длина детали (мм)</td>
                <td>Точность</td>
                <td>Припуск на обработку (мм)</td>
                <td>Длина поверхности обработки (мм)</td>
                <td>Стоимость токарной обработки </td>
            </tr>
            @foreach (Detal item in Model.Detals)
            {
                <tr>
                    <td>@item.NumOrder</td>
                    <td>@Html.ActionLink(@item.Nazvanie, "ShouDet", new { NumOrder = item.NumOrder }, new { @class = "blacktext" })</td>
                    <td><a href="@item.Picture" data-fancybox="images" style="margin:0; padding:0"><img style="width:90%" src="@item.Picture" /></a></td>
                    <td>@item.D </td>
                    <td>@item.dO </td>
                    <td>@item.WeithDetail </td>
                    <td>@item.Materia </td>
                    <td>@item.TypeObr </td>
                    <td>@item.LDetal </td>
                    <td>@item.Tochnost</td>
                    <td>@item.Glubina</td>
                    <td>@item.LProt</td>
                    <td>@Math.Truncate(item.StoimostRashot)</td>
                    <td>@Html.ActionLink("редакт.", "Redakt", new { id = item.Id }, new { style = "color:black" })</td>
                    <td>@Html.ActionLink("удалить", "Delet", new { id = item.Id }, new { style = "color:black" })</td>
                </tr>
            }
        </table>
        <div style="height:5%; margin:auto; padding-top:2%; text-align:center">@Html.PageLinks(Model.PageInfo, x => Url.Action("ShowAll", "Admin", new { page = x }))</div>
    </main>


    <footer>
        <p>&copy; @DateTime.Now.Year <a href="~/admin/team">Mikrasavchiki team</a></p>
    </footer>
</body>